.CaruselWrapper{
  /* position: absolute; */
  width: 100%;
  /* z-index: -1; */

}
.CaruselWrapper .caruselSlide{
    position: relative;
} 
.CaruselWrapper .caruselLinn{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 560px;
    display: flex;
 
}
.carusel{transition: 1s;}
.CaruselWrapper .carusel{
    width: 100%;
    height: 100%;
    overflow: revert;
}

.carusel{
    transform: 1s;
    /* overflow: revert; */
}

@keyframes mymove {
    0%   {margin-left: 0%;}
    25%  {margin-left: -100%;}
    50%  {margin-left: -200%;}
    75%  {margin-left: -100%;}
    100% {margin-left: 0%0%;}
  }
.caruselButton{
    position: absolute;
    bottom: 46px;
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.caruselButton button{
    width: 30px;
    height: 3px;
    background: grey;
    margin-left: 2px;
    margin-right: 3px;
    background: #faef03;
    border: none;
    cursor: pointer;
}